In [ ]:
import pandas as pd
import numpy as np
from google.colab import files

In [ ]:
test = pd.read_csv('/content/Tweets.csv')

In [ ]:
test.head()

,tweet_id,date_posted,text,mentions,user_id,retweet_count,reply_count,like_count,quotetweet_count,impression_count,sentiment_type,positive_factor,negative_factor,neutral_factor
0,1622459787781840900,2023-02-06 04:58:51+00:00,noel i got you starbucks ocean the drink,Starbucks Coffee,1407502243147005953,5,1,28,0,794,neutral,0.000,0.000,1.000
1,1622459776083828736,2023-02-06 04:58:49+00:00,whos buying mommy her starbucks this morning ...,Starbucks Coffee,1596207409948762112,2,0,0,0,0,neutral,0.000,0.000,1.000
2,1622459674955218949,2023-02-06 04:58:25+00:00,2 girls with remote vibrators going through a...,Starbucks Coffee,1279461628816371713,48,0,0,0,0,neutral,0.000,0.000,1.000
3,1622459637801811968,2023-02-06 04:58:16+00:00,i think hes just that dumbguess the dude got ...,Starbucks Coffee,1320733420545343488,0,1,1,0,18,negative,0.000,0.202,0.798
4,1622459620446076928,2023-02-06 04:58:12+00:00,polygon has won massmarket attention thanks t...,Starbucks Coffee,1604704875186905089,2,0,0,0,0,positive,0.474,0.000,0.526

In [ ]:
len(test[(test['mentions'] == 'Delta') & (test['sentiment_type'] == 'neutral')])

178

##Time Formatting

In [ ]:
user = pd.read_csv('/content/User.csv')
tweet =  pd.read_csv('/content/Tweet.csv')

In [ ]:
user.head()

,user_id,username,name,date_joined,bio,location
0,999994559097602048,42cali0G,NaN,2018-05-25T12:44:16.000Z,you know what it izzzzzzzzzz,you know what it izzzzzzzzzz
1,999825048578834432,blah_arjii,Riiica wants to see skz,2018-05-25T01:30:42.000Z,StayZens ExoL 18,StayZens ExoL 18
2,999785418282414080,_OWARIHAJIMUGI,Atarashi,2018-05-24T22:53:13.000Z,Big TWEWY KOn fan Sawako Yamanakas number one ...,Big TWEWY KOn fan Sawako Yamanakas number one ...
3,999765192824238086,ZacharyCosta14,Zachary Costa,2018-05-24T21:32:51.000Z,Im 35 Autistic Person Who Wants ADateWith In N...,Im 35 Autistic Person Who Wants ADateWith In N...
4,999756097694158851,Chimike9,Chimike,2018-05-24T20:56:43.000Z,NaN,NaN

In [ ]:
tweet.head()

,tweet_id,date_posted,text,mentions
0,1622459787781840900,2023-02-06T04:58:51.000Z,noel i got you starbucks ocean the drink,Starbucks
1,1622459776083828736,2023-02-06T04:58:49.000Z,whos buying mommy her starbucks this morning ...,Starbucks
2,1622459674955218949,2023-02-06T04:58:25.000Z,2 girls with remote vibrators going through a...,Starbucks
3,1622459637801811968,2023-02-06T04:58:16.000Z,i think hes just that dumbguess the dude got ...,Starbucks
4,1622459620446076928,2023-02-06T04:58:12.000Z,polygon has won massmarket attention thanks t...,Starbucks

In [ ]:
import datetime

user['date_joined'] = pd.to_datetime(user['date_joined'], format='%Y-%m-%dT%H:%M:%S')
tweet['date_posted'] = pd.to_datetime(tweet['date_posted'], format='%Y-%m-%dT%H:%M:%S')

In [ ]:
user.head()

,user_id,username,name,date_joined,bio,location
0,999994559097602048,42cali0G,NaN,2018-05-25 12:44:16+00:00,you know what it izzzzzzzzzz,you know what it izzzzzzzzzz
1,999825048578834432,blah_arjii,Riiica wants to see skz,2018-05-25 01:30:42+00:00,StayZens ExoL 18,StayZens ExoL 18
2,999785418282414080,_OWARIHAJIMUGI,Atarashi,2018-05-24 22:53:13+00:00,Big TWEWY KOn fan Sawako Yamanakas number one ...,Big TWEWY KOn fan Sawako Yamanakas number one ...
3,999765192824238086,ZacharyCosta14,Zachary Costa,2018-05-24 21:32:51+00:00,Im 35 Autistic Person Who Wants ADateWith In N...,Im 35 Autistic Person Who Wants ADateWith In N...
4,999756097694158851,Chimike9,Chimike,2018-05-24 20:56:43+00:00,NaN,NaN

In [ ]:
tweet.head()

,tweet_id,date_posted,text,mentions
0,1622459787781840900,2023-02-06 04:58:51+00:00,noel i got you starbucks ocean the drink,Starbucks
1,1622459776083828736,2023-02-06 04:58:49+00:00,whos buying mommy her starbucks this morning ...,Starbucks
2,1622459674955218949,2023-02-06 04:58:25+00:00,2 girls with remote vibrators going through a...,Starbucks
3,1622459637801811968,2023-02-06 04:58:16+00:00,i think hes just that dumbguess the dude got ...,Starbucks
4,1622459620446076928,2023-02-06 04:58:12+00:00,polygon has won massmarket attention thanks t...,Starbucks

In [ ]:
tweet.to_csv('Tweet.csv', index=False)
files.download('Tweet.csv')

user.to_csv('User.csv', index=False)
files.download('User.csv')

##Concatenate

In [ ]:
starbucks = pd.read_csv('/content/Starbucks.csv')
dunkin = pd.read_csv('/content/Dunkin.csv')
hulu = pd.read_csv('/content/Hulu.csv')
netflix = pd.read_csv('/content/Netflix.csv')
southwest = pd.read_csv('/content/Southwest.csv')
delta = pd.read_csv('/content/Delta.csv')

In [ ]:
starbucks['mentions'] = 'Starbucks'
dunkin['mentions'] = 'Dunkin'
hulu['mentions'] = 'Hulu'
netflix['mentions'] = 'Netflix'
southwest['mentions'] = 'Southwest'
delta['mentions'] = 'Delta'

In [ ]:
df_tweets = pd.concat([starbucks, dunkin, netflix, southwest, delta], axis = 0)
df_tweets.head()

,tweet_id,user_id,date_posted,retweet_count,reply_count,like_count,quotetweet_count,impression_count,text,mentions
0,1635143549179031557,1470638974964277249,2023-03-13T04:59:36.000Z,0,0,0,0,4,@CalltoActivism @Starbucks Could be Trumps sis...,Starbucks
1,1635143531944873985,1519054874067021831,2023-03-13T04:59:32.000Z,0,0,0,0,21,@CidRising @VVh1sp3r @CalltoActivism @Starbuck...,Starbucks
2,1635143475749613569,1519054874067021831,2023-03-13T04:59:18.000Z,0,1,0,0,28,@VVh1sp3r @CidRising @CalltoActivism @Starbuck...,Starbucks
3,1635143416932872193,80872391,2023-03-13T04:59:04.000Z,0,0,0,0,15,@khatumokeen your people are wandering in the ...,Starbucks
4,1635143391284727809,1599035809763848194,2023-03-13T04:58:58.000Z,0,0,0,0,3,@CalltoActivism @Starbucks Im having a hard t...,Starbucks

In [ ]:
df_tweets.to_csv('Tweets_Week6.csv', index=False)
files.download('Tweets_Week6.csv')

In [ ]:
df_tweets.shape

(18359, 10)

## Unique Tweets (tweets can be duplicated if a single tweet mentions two or more brands)

In [ ]:
tweets = pd.read_csv("/content/Tweets_Week6.csv")

In [ ]:
tweets = pd.read_csv('/content/Tweets_Clean.csv')

In [ ]:
tweets.shape

(88365, 10)

In [ ]:
tweets['tweet_id'].duplicated().sum()

62

In [ ]:
tweets_to_drop = tweets[tweets['tweet_id'].duplicated() == True]

In [ ]:
tweets_to_drop.shape

(62, 10)

In [ ]:
unique_tweets = tweets.drop(tweets_to_drop.index, axis=0)

In [ ]:
unique_tweets.shape

(88303, 10)

In [ ]:
unique_tweets.to_csv('Tweet.csv', index=False)
files.download('Tweet.csv')

## Unique Users

In [ ]:
users = pd.read_csv('/content/Users_Week5.csv')

In [ ]:
users = pd.read_csv('/content/Users_Clean.csv')

<ipython-input-39-906bc0d8a4fd>:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  users = pd.read_csv('/content/Users_Clean.csv')

In [ ]:
users.shape

(68475, 12)

In [ ]:
# users = tweets['user_id']

In [ ]:
# users.shape

(18085,)

In [ ]:
# users.duplicated().sum()

4464

In [ ]:
# users_to_drop = users[users.duplicated() == True]

In [ ]:
# users_to_drop.shape

(4464,)

In [ ]:
# unique_users = users.drop(users_to_drop.index, axis=0)

In [ ]:
# unique_users.shape

(13621,)

In [ ]:
# unique_users.to_csv('Users_Week5.csv', index=False)
# files.download('Users_Week5.csv')

In [ ]:
users['user_id'].duplicated().sum()

3739

In [ ]:
users_to_drop = users[users['user_id'].duplicated() == True]

In [ ]:
users_to_drop.shape

(3739, 12)

In [ ]:
unique_users = users.drop(users_to_drop.index, axis=0)

In [ ]:
#utf-8
unique_users = unique_users.astype(str).apply(lambda x: x.str.encode('ascii', 'ignore').str.decode('ascii'))

In [ ]:
unique_users.shape

(64736, 12)

In [ ]:
unique_users['user_id'].duplicated().sum()

0

In [ ]:
users = unique_users

In [ ]:
unique_users.to_csv('Users_Week4.csv', index=False)
files.download('Users_Week4.csv')

##Check if everything is collected

In [ ]:
tweets['user_id'].dtype

dtype('int64')

In [ ]:
users['user_id'].dtype

dtype('int64')

In [ ]:
not_collected = []

# Loop through values in user_id column of tweet dataset
for value in tweets['user_id']:
    # Check if the value is in any row of user_id column of users dataset
    if not users['user_id'].isin([value]).any():
        # If the value is not in any row of user_id column of users dataset, add it to the list
        not_collected.append(value)

In [ ]:
not_collected = pd.DataFrame(np.array(not_collected))

In [ ]:
not_collected.shape

(40, 1)

In [ ]:
not_collected.duplicated().sum()

11

In [ ]:
not_collected = not_collected.drop_duplicates()

In [ ]:
not_collected.shape

(29, 1)

In [ ]:
duplicated_users_in_tweets = tweets['user_id'].duplicated().sum()
duplicated_users = users['user_id'].duplicated().sum()
unique_users_in_tweets = len(tweets) - duplicated_users_in_tweets
users_collected = len(users)
users_not_collected = len(not_collected)
sum = (len(users) + len(not_collected))

print ('Duplicated Users in Tweets (which is okay) = ', duplicated_users_in_tweets)
print ('Duplicated Users (which should be 0) = ', duplicated_users)
print ('No. of Unique UsersIDs in the Tweets Dataset = ', unique_users_in_tweets)
print ('No. of Users Collected = ', users_collected)
print ('No. of Users NOT Collected = ', users_not_collected)
print ('Sum = ', sum)

Duplicated Users in Tweets (which is okay) =  4464
Duplicated Users (which should be 0) =  0
No. of Unique UsersIDs in the Tweets Dataset =  13621
No. of Users Collected =  13592
No. of Users NOT Collected =  29
Sum =  13621

In [ ]:
not_collected.to_csv('UsersNotCollectedWeek5.csv', index=False)
files.download('UsersNotCollectedWeek5.csv')

##Removing tweets whose user data does not exist

In [ ]:
tweets = pd.read_csv('/content/Tweets_Clean.csv')
users = pd.read_csv('/content/Users_Clean.csv')

<ipython-input-60-9c65b9b2129f>:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  users = pd.read_csv('/content/Users_Clean.csv')

In [ ]:
tweets.shape

(106075, 10)

In [ ]:
users.shape

(68475, 12)

In [ ]:
valid_users = tweets[tweets['user_id'].isin(users['user_id'])]

In [ ]:
valid_users.shape

(88365, 10)

In [ ]:
valid_users.to_csv('Tweets_Clean.csv', index=False)
files.download('Tweets_Clean.csv')

## Cleaning

###Tweets

In [ ]:
df_tweets1 = pd.read_csv('/content/Tweets_Week1.csv')
df_tweets2 = pd.read_csv('/content/Tweets_Week2.csv')
df_tweets3 = pd.read_csv('/content/Tweets_Week3.csv')
df_tweets4 = pd.read_csv('/content/Tweets_Week4.csv')
df_tweets5 = pd.read_csv('/content/Tweets_Week5.csv')
df_tweets6 = pd.read_csv('/content/Tweets_Week6.csv')
df_tweets = pd.concat([df_tweets1, df_tweets2, df_tweets3, df_tweets4, df_tweets5, df_tweets6], axis = 0)

In [ ]:
df_tweets.shape

(106075, 4)

In [ ]:
df_tweets

In [ ]:
#utf-8
df_tweets = df_tweets.astype(str).apply(lambda x: x.str.encode('ascii', 'ignore').str.decode('ascii'))

#lower case letters
df_tweets['text'] = df_tweets['text'].str.lower()

In [ ]:
#remove newlines, whitespace, punctuation, @, and links
import re

url_pattern = r"http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+"
at_pattern = r"@\w+"
rt = "rt :"
new_line = "\n"
punct_pattern = r"[^\w\s]"
spaces_pattern = r"\s+"
hashtag = r'#\w+'


def remove_urls_and_at(text):
    text = re.sub(url_pattern, "", text)
    text = re.sub(at_pattern, "", text)
    text = re.sub(rt, "", text)
    text = re.sub(new_line, "", text)
    text = re.sub(punct_pattern, "", text)
    text = re.sub(hashtag, " ", text)
    text = re.sub(spaces_pattern, " ", text)
    return text


# Apply the function to the 'text' column using DataFrame.apply()
df_tweets['text'] = df_tweets['text'].apply(remove_urls_and_at)

#df_tweets['text'] = df_tweets['text'].str.replace('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', '')

In [ ]:
df_tweets.head()

,tweet_id,user_id,date_posted,retweet_count,reply_count,like_count,quotetweet_count,impression_count,text,mentions
0,1622459787781840900,1407502243147005953,2023-02-06T04:58:51.000Z,5,1,28,0,794,noel i got you starbucks ocean the drink,Starbucks
1,1622459776083828736,1596207409948762112,2023-02-06T04:58:49.000Z,2,0,0,0,0,whos buying mommy her starbucks this morning ...,Starbucks
2,1622459674955218949,1279461628816371713,2023-02-06T04:58:25.000Z,48,0,0,0,0,2 girls with remote vibrators going through a...,Starbucks
3,1622459637801811968,1320733420545343488,2023-02-06T04:58:16.000Z,0,1,1,0,18,i think hes just that dumbguess the dude got ...,Starbucks
4,1622459620446076928,1604704875186905089,2023-02-06T04:58:12.000Z,2,0,0,0,0,polygon has won massmarket attention thanks t...,Starbucks

In [ ]:
df_tweets.isna().sum()

tweet_id            0
user_id             0
date_posted         0
retweet_count       0
reply_count         0
like_count          0
quotetweet_count    0
impression_count    0
text                0
mentions            0
dtype: int64

In [ ]:
# Select the rows where the 'text' column is empty
empty_rows = df_tweets[df_tweets['text'].isna() | (df_tweets['text'].str.strip() == '')]

# Display the empty rows
print(empty_rows)

                  tweet_id              user_id               date_posted  \
2471   1622375353812492290  1498177098669821954  2023-02-05T23:23:21.000Z
2940   1622361381507850241  1493085433068089345  2023-02-05T22:27:50.000Z
3041   1622358423835656192            465143905  2023-02-05T22:16:04.000Z
3647   1622341695105892354             25365699  2023-02-05T21:09:36.000Z
7237   1622366978156396545  1107337087202848768  2023-02-05T22:50:04.000Z
7384   1622336465253568512            304765292  2023-02-05T20:48:49.000Z
7545   1622313215886491649            466864852  2023-02-05T19:16:26.000Z
7907   1622271094970359809  1432030846710648835  2023-02-05T16:29:04.000Z
8011   1622256012660195328             89612649  2023-02-05T15:29:08.000Z
8035   1622252342816178176  1564779765742964738  2023-02-05T15:14:33.000Z
8041   1622250350400118785  1328715418916122625  2023-02-05T15:06:38.000Z
8488   1622179229398966273  1519954234208366592  2023-02-05T10:24:01.000Z
8657   1622143801413275649  1432030846710648835  2023-02-05T08:03:14.000Z
8788   1622106766967291904             81040137  2023-02-05T05:36:05.000Z
9360   1622046237091418112  1451511293744123905  2023-02-05T01:35:33.000Z
9377   1622044053528363009  1463928647040049159  2023-02-05T01:26:53.000Z
9668   1621988807984693249           3363122140  2023-02-04T21:47:21.000Z
9731   1621977874835345409  1375347393017696256  2023-02-04T21:03:54.000Z
9735   1621977462748872709            399605310  2023-02-04T21:02:16.000Z
11059  1622456145997619200           2867674599  2023-02-06T04:44:23.000Z
14233  1622443898340786176   862521666349539328  2023-02-06T03:55:43.000Z
16473  1622417105604714499   999765192824238086  2023-02-06T02:09:15.000Z
748    1635104024440741890  1245422747238518784  2023-03-13T02:22:32.000Z

      retweet_count reply_count like_count quotetweet_count impression_count  \
2471              1           0          0                0                0
2940              1           0          0                0                0
3041              3           0          0                0                0
3647              3           0          0                0                0
7237              0           0          4                0               75
7384              0           0          0                0               23
7545              0           3         17                0             5938
7907              0           0          2                0               19
8011              3           0          0                0                0
8035              3           0          0                0                0
8041              3           0          0                0                0
8488              0           0          0                0               35
8657              0           0          1                0               18
8788              0           0          0                0                3
9360              0           0          2                0               98
9377              0           0          0                0               13
9668              0           0          1                0               96
9731              1           0          0                0                0
9735              1           0          1                0               17
11059             3           0          0                0                0
14233             2           0          0                0                0
16473             1           0          0                0                0
748               0           0          5                0              541

      text   mentions
2471        Starbucks
2940        Starbucks
3041        Starbucks
3647        Starbucks
7237           Dunkin
7384           Dunkin
7545           Dunkin
7907           Dunkin
8011           Dunkin
8035           Dunkin
8041           Dunkin
8488           Dunkin
8657           Dunkin
8788           Dunkin
9360           Dunkin
9377           Dunkin
9668           Dunkin
9731           Dunkin
9735           Dunkin
11059         Netflix
14233         Netflix
16473            Hulu
748         Starbucks

In [ ]:
# Drop the rows where the 'text' column is empty
df_tweets = df_tweets[df_tweets['text'].notna() & (df_tweets['text'].str.strip() != '')]

In [ ]:
df_tweets.shape

(106075, 10)

In [ ]:
df_tweets.to_csv('Tweets_Clean.csv', index=False)
files.download('Tweets_Clean.csv')

In [ ]:
df_tweets.head()

,tweet_id,user_id,date_posted,retweet_count,reply_count,like_count,quotetweet_count,impression_count,text,mentions
0,1622459787781840900,1407502243147005953,2023-02-06T04:58:51.000Z,5,1,28,0,794,noel i got you starbucks ocean the drink,Starbucks
1,1622459776083828736,1596207409948762112,2023-02-06T04:58:49.000Z,2,0,0,0,0,whos buying mommy her starbucks this morning ...,Starbucks
2,1622459674955218949,1279461628816371713,2023-02-06T04:58:25.000Z,48,0,0,0,0,2 girls with remote vibrators going through a...,Starbucks
3,1622459637801811968,1320733420545343488,2023-02-06T04:58:16.000Z,0,1,1,0,18,i think hes just that dumbguess the dude got ...,Starbucks
4,1622459620446076928,1604704875186905089,2023-02-06T04:58:12.000Z,2,0,0,0,0,polygon has won massmarket attention thanks t...,Starbucks

##Users

In [ ]:
df_users1 = pd.read_csv('/content/Users_Week1.csv')
df_users2 = pd.read_csv('/content/Users_Week2.csv')
df_users3 = pd.read_csv('/content/Users_Week3.csv')
df_users4 = pd.read_csv('/content/Users_Week4.csv')
df_users5 = pd.read_csv('/content/Users_Week5.csv')
#df_users6 = pd.read_csv('/content/Users_Week6.csv')
df_users = pd.concat([df_users1, df_users2, df_users3, df_users4, df_users5], axis = 0)

In [ ]:
users = pd.read_csv('/content/Users_Week5.csv')

<ipython-input-35-c46b0417fa2b>:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_users = df_users5 = pd.read_csv('/content/Users_Clean.csv')

In [ ]:
df_users.shape

(68475, 12)

In [ ]:
#utf-8
df_users = df_users.astype(str).apply(lambda x: x.str.encode('ascii', 'ignore').str.decode('ascii'))

In [ ]:
#remove newlines, whitespace, punctuation, @, and links
import re

url_pattern = r"http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+"
at_pattern = r"@\w+"
rt = "rt :"
new_line = "\n"
punct_pattern = r"[^\w\s]"
spaces_pattern = r"\s+"
hashtag = r'#\w+'


def remove_urls_and_at(text):
    text = re.sub(url_pattern, "", text)
    text = re.sub(at_pattern, "", text)
    text = re.sub(rt, "", text)
    text = re.sub(new_line, "", text)
    text = re.sub(punct_pattern, "", text)
    text = re.sub(hashtag, " ", text)
    text = re.sub(spaces_pattern, " ", text)
    return text


# Apply the function to the 'text' column using DataFrame.apply()
df_users['name'] = df_users['name'].apply(remove_urls_and_at)
df_users['bio'] = df_users['bio'].apply(remove_urls_and_at)
df_users['location'] = df_users['bio'].apply(remove_urls_and_at)

In [ ]:
df_users.head()

,name,user_id,username,date_joined,bio,location,verified,verified_type,follower_count,following_count,listed_count,tweet_count
0,,999994559097602048,42cali0G,2018-05-25T12:44:16.000Z,you know what it izzzzzzzzzz,you know what it izzzzzzzzzz,False,none,618.0,545.0,0.0,30043.0
1,Riiica wants to see skz,999825048578834432,blah_arjii,2018-05-25T01:30:42.000Z,StayZens ExoL 18,StayZens ExoL 18,False,none,92.0,183.0,0.0,1891.0
2,Atarashi,999785418282414080,_OWARIHAJIMUGI,2018-05-24T22:53:13.000Z,Big TWEWY KOn fan Sawako Yamanakas number one ...,Big TWEWY KOn fan Sawako Yamanakas number one ...,False,none,694.0,624.0,17.0,101945.0
3,Zachary Costa,999765192824238086,ZacharyCosta14,2018-05-24T21:32:51.000Z,Im 35 Autistic Person Who Wants ADateWith In N...,Im 35 Autistic Person Who Wants ADateWith In N...,False,none,881.0,5001.0,5.0,107067.0
4,Chimike,999756097694158851,Chimike9,2018-05-24T20:56:43.000Z,nan,nan,False,none,58.0,189.0,4.0,11313.0

In [ ]:
df_users.isna().sum()

name               0
user_id            0
username           0
date_joined        0
bio                0
location           0
verified           0
verified_type      0
follower_count     0
following_count    0
listed_count       0
tweet_count        0
dtype: int64

In [ ]:
df_users.to_csv('Users_Clean.csv', index=False)
files.download('Users_Clean.csv')

## English

In [ ]:
!pip install langdetect

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: langdetect in /usr/local/lib/python3.9/dist-packages (1.0.9)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from langdetect) (1.15.0)

In [ ]:
tweets = pd.read_csv('/content/Tweets_Clean.csv')

In [ ]:
tweets.shape

(106075, 10)

In [ ]:
from langdetect import detect

non_english_tweets = []

# Iterate through each row of the DataFrame
for index, row in tweets.iterrows():
    text = row['text']
    language = detect(text)
    if language != 'en':
        non_english_tweets.append(row)

# Create a new DataFrame with only the non-English tweets
non_english_tweets_df = pd.DataFrame(non_english_tweets)

# Print the non-English tweets
#print(non_english_tweets_df)

                   tweet_id              user_id               date_posted  \
0       1622459787781840900  1407502243147005953  2023-02-06T04:58:51.000Z
5       1622459582181408768  1621677950356848640  2023-02-06T04:58:02.000Z
11      1622458866276634624           4674946214  2023-02-06T04:55:12.000Z
12      1622458854179995650  1020141387692507136  2023-02-06T04:55:09.000Z
20      1622458538491801601           4674946214  2023-02-06T04:53:54.000Z
...                     ...                  ...                       ...
105970  1634625946526392321            166029977  2023-03-11T18:42:50.000Z
105973  1634622470639550464             81643661  2023-03-11T18:29:01.000Z
105999  1634434620312698880  1205330869453574145  2023-03-11T06:02:34.000Z
106037  1634990571420008448  1515416985500221441  2023-03-12T18:51:43.000Z
106068  1634850855580217351           1070172116  2023-03-12T09:36:32.000Z

        retweet_count  reply_count  like_count  quotetweet_count  \
0                   5            1          28                 0
5                   0            0           1                 0
11                  0            1           1                 0
12               1547            0           0                 0
20                  0            1           1                 0
...               ...          ...         ...               ...
105970              0            0           0                 0
105973              0            0           0                 0
105999              0            1           0                 0
106037              0            0           0                 0
106068              0            0           0                 0

        impression_count                                               text  \
0                    794          noel i got you starbucks ocean the drink
5                     11                          my favorite at starbucks
11                     8                                               oops
12                     0   starbucks lemon loaf looks like phoebe bridgers
20                     7                                        mhm deelish
...                  ...                                                ...
105970               139   hell no jet blue is my preference airline aft...
105973                63                        delta airline overrated idc
105999                16         nope nice delta airline or virgin atlantic
106037               469    lax picked up old friend from fl delta airline
106068                 1  delta air lines brings back kids meals availab...

         mentions
0       Starbucks
5       Starbucks
11      Starbucks
12      Starbucks
20      Starbucks
...           ...
105970      Delta
105973      Delta
105999      Delta
106037      Delta
106068      Delta

[14104 rows x 10 columns]

###Users

## Table Split

In [ ]:
tweets = pd.read_csv('/content/Tweets_Clean.csv')
#users = pd.read_csv('/content/Users_Clean.csv')

In [ ]:
tweets = unique_tweets

In [ ]:
tweets.shape

(88365, 10)

In [ ]:
users.head()

In [ ]:
user = pd.DataFrame({'user_id': users['user_id'],
                          'username':users['username'], 'name':users['name'],
                          'date_joined':users['date_joined'], 'bio':users['bio'],
                          'location':users['location']})

In [ ]:
user_metrics = pd.DataFrame({'user_id': users['user_id'],
                          'verified':users['verified'], 'verified_type':users['verified_type'],
                          'follower_count':users['follower_count'], 'following_count':users['following_count'],
                          'listed_count':users['listed_count'], 'tweet_count':users['tweet_count']})

In [ ]:
tweet = pd.DataFrame({'tweet_id': tweets['tweet_id'], 'date_posted':tweets['date_posted'],
                      'text':tweets['text'],'mentions':tweets['mentions']})

In [ ]:
#needs more transformations
tweet_metrics = pd.DataFrame({'tweet_id':tweets['tweet_id'], 'user_id':tweets['user_id'],
                              'brand_id':tweets['mentions'], 'retweet_count':tweets['retweet_count'],
                              'reply_count':tweets['reply_count'], 'like_count':tweets['like_count'],
                              'quotetweet_count':tweets['quotetweet_count'], 'impression_count':tweets['impression_count']})

In [ ]:
#adding brand_id
# Define the mapping between old and new values
mapping = {
    'Starbucks': 100,
    'Dunkin': 101,
    'Netflix': 200,
    'Hulu': 201,
    'Southwest': 300,
    'Delta': 301
}

# Replace the values in the 'mentions' column
tweet_metrics['brand_id'] = tweet_metrics['brand_id'].replace(mapping)

In [ ]:
tweet_metrics.head()

,tweet_id,user_id,brand_id,retweet_count,reply_count,like_count,quotetweet_count,impression_count
0,1622459787781840900,1407502243147005953,100,5,1,28,0,794
1,1622459776083828736,1596207409948762112,100,2,0,0,0,0
2,1622459674955218949,1279461628816371713,100,48,0,0,0,0
3,1622459637801811968,1320733420545343488,100,0,1,1,0,18
4,1622459620446076928,1604704875186905089,100,2,0,0,0,0

In [ ]:
#adding tweet engagement
# Compute the TweetEngagement
tweet_metrics['TweetEngagement'] = ((tweet_metrics['like_count'] +
                                     tweet_metrics['quotetweet_count'] +
                                     tweet_metrics['reply_count'] +
                                     tweet_metrics['retweet_count']) / tweet_metrics['impression_count']) * 100

In [ ]:
# Replace infinite values with 0
tweet_metrics['TweetEngagement'] = round(tweet_metrics['TweetEngagement'].replace([np.inf, -np.inf], 0), 3)

In [ ]:
tweet_metrics.head()

,tweet_id,user_id,brand_id,retweet_count,reply_count,like_count,quotetweet_count,impression_count,TweetEngagement
0,1622459787781840900,1407502243147005953,100,5,1,28,0,794,4.282
1,1622459776083828736,1596207409948762112,100,2,0,0,0,0,0.000
2,1622459674955218949,1279461628816371713,100,48,0,0,0,0,0.000
3,1622459637801811968,1320733420545343488,100,0,1,1,0,18,11.111
4,1622459620446076928,1604704875186905089,100,2,0,0,0,0,0.000

In [ ]:
user.to_csv('User.csv', index=False)
files.download('User.csv')

In [ ]:
user['user_id'].duplicated().sum()

0

In [ ]:
user_metrics.to_csv('User_Metrics.csv', index=False)
files.download('User_Metrics.csv')

In [ ]:
tweet.to_csv('Tweet.csv', index=False)
files.download('Tweet.csv')

In [ ]:
tweet_metrics.to_csv('Tweet_Metrics.csv', index=False)
files.download('Tweet_Metrics.csv')