# Initialization

In [ ]:
# Twitter Developer Data
my_consumer_key = "sVGZ5Xb17b9DRDtnjoNyIQbUW"
my_consumer_secret = "K9x4B5mPCAy3L0XOEtThFSbkI09IFBO927bOq4SdFzKjY9kbvD"

my_access_token = "897125074842509313-RFAbBbMk7N8LoqI90blUKLCqMf5k0WZ"
my_access_secret = "6TMDnARwmeU111p49FzN72b6cNobRNfz5930xFlv2Ljj6"

my_bearer_token = "AAAAAAAAAAAAAAAAAAAAAAinlgEAAAAAouObbp7FqJFz9BuHUoArzhd0za8%3DEEfd9VwOwso847bUQMZgtM9gUQlkQMJjP9CD8VU6Zb2SGR6Aif"

In [ ]:
# installing the correct version of tweepy
!pip install git+https://github.com/tweepy/tweepy.git --upgrade
#for words
!pip install wordcloud

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting git+https://github.com/tweepy/tweepy.git
  Cloning https://github.com/tweepy/tweepy.git to /tmp/pip-req-build-h_xsccet
  Running command git clone --filter=blob:none --quiet https://github.com/tweepy/tweepy.git /tmp/pip-req-build-h_xsccet
  Resolved https://github.com/tweepy/tweepy.git to commit d2a6b83f7da87d66204d0e334ff2d94c21ea7cbc
  Preparing metadata (setup.py) ... done
Requirement already satisfied: oauthlib<4,>=3.2.0 in /usr/local/lib/python3.9/dist-packages (from tweepy==4.13.0) (3.2.2)
Collecting requests<3,>=2.27.0
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 62.8/62.8 KB 775.0 kB/s eta 0:00:00
Requirement already satisfied: requests-oauthlib<2,>=1.2.0 in /usr/local/lib/python3.9/dist-packages (from tweepy==4.13.0) (1.3.1)
Collecting charset-normalizer<4,>=2
  Downloading charset_normalizer-3.1.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (199 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 199.2/199.2 KB 3.1 MB/s eta 0:00:00
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.27.0->tweepy==4.13.0) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.27.0->tweepy==4.13.0) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.27.0->tweepy==4.13.0) (2.10)
Building wheels for collected packages: tweepy
  Building wheel for tweepy (setup.py) ... done
  Created wheel for tweepy: filename=tweepy-4.13.0-py3-none-any.whl size=102783 sha256=59cd4aa0e0794245f6382d052f2181ca2075a3601ba089ab78da83405ce8ec80
  Stored in directory: /tmp/pip-ephem-wheel-cache-jx_zbvmk/wheels/37/db/50/af7b44cc37a83332e50fbebe7290974b5f463e294dbc4eeaf8
Successfully built tweepy
Installing collected packages: charset-normalizer, requests, tweepy
  Attempting uninstall: requests
    Found existing installation: requests 2.25.1
    Uninstalling requests-2.25.1:
      Successfully uninstalled requests-2.25.1
  Attempting uninstall: tweepy
    Found existing installation: tweepy 3.10.0
    Uninstalling tweepy-3.10.0:
      Successfully uninstalled tweepy-3.10.0
Successfully installed charset-normalizer-3.1.0 requests-2.28.2 tweepy-4.13.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: wordcloud in /usr/local/lib/python3.9/dist-packages (1.8.2.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.9/dist-packages (from wordcloud) (3.5.3)
Requirement already satisfied: numpy>=1.6.1 in /usr/local/lib/python3.9/dist-packages (from wordcloud) (1.22.4)
Requirement already satisfied: pillow in /usr/local/lib/python3.9/dist-packages (from wordcloud) (8.4.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->wordcloud) (4.39.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->wordcloud) (23.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->wordcloud) (1.4.4)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.9/dist-packages (from matplotlib->wordcloud) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->wordcloud) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/dist-packages (from matplotlib->wordcloud) (0.11.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.7->matplotlib->wordcloud) (1.15.0)

In [ ]:
import tweepy # Import the tweepy package
import numpy as np
import pandas as pd
import numpy as np
from google.colab import files

In [ ]:
# Using the tweepy.Client(...) function, you can establish a connection to the Twitter API
client = tweepy.Client(
    wait_on_rate_limit = True, #helps to overcome a lot of errors associated with API usage limitations.
    consumer_key = my_consumer_key, #passing credentials to appropriate parameters
    consumer_secret = my_consumer_secret,
    access_token = my_access_token,
    access_token_secret = my_access_secret,
    bearer_token = my_bearer_token,
)

In [ ]:
# Test to make sure the client object exists
client

# Collect Data

## Brand

In [ ]:
#list of companies that are being analyzed and compared
brand_list = ["Starbucks", "dunkindonuts", "netflix", "hulu", "SouthwestAir", "Delta"]
df_brand = []

In [ ]:
#iterate through each company to collect its twitter page information
for i in brand_list:
  brands = client.get_user (
      username = i,
      user_fields = ["created_at", "description", "id", "location", "name", "public_metrics", "username", "verified", "verified_type"],)
  df_brand.append(brands.data.data)

In [ ]:
#create a brand dataframe
df_brand = pd.json_normalize(df_brand, sep="_" )
df_brand.head()

,username,description,name,verified,location,created_at,id,verified_type,public_metrics_followers_count,public_metrics_following_count,public_metrics_tweet_count,public_metrics_listed_count
0,Starbucks,Make today a good day. üíö,Starbucks Coffee,True,"Seattle, WA",2006-11-29T19:19:02.000Z,30973,business,11124473,87804,266151,25139
1,dunkindonuts,America runs on Dunkin‚Äô tweets ‚òïÔ∏èüç©,Dunkin',True,"Canton, Mass.",2007-09-09T20:21:27.000Z,8771022,business,1341144,51036,109341,5494
2,netflix,I would watch 100 movies where Nia Long & Laur...,Netflix,True,"California, USA",2008-10-03T04:16:17.000Z,16573941,business,21455052,2256,47848,20953
3,hulu,"Hey Sebastian Stan, we're single this #Valenti...",Hulu,True,üè†,2008-06-07T00:08:57.000Z,15033883,business,1127459,1655,145679,7889
4,SouthwestAir,We run on #SouthwestHeart. Follow for more on ...,Southwest Airlines,True,"Dallas, Texas",2007-07-02T19:56:44.000Z,7212562,business,2170365,0,1100166,13936

In [ ]:
#rearrange and rename columns
df_brand = df_brand.rename(columns={'created_at': 'date_joined', 'description': 'bio', 'id': 'brand_id', 'name': 'company_name',
                                    'public_metrics_followers_count': 'follower_count', 'public_metrics_following_count': 'following_count',
                                    'public_metrics_listed_count': 'listed_count', 'public_metrics_tweet_count': 'tweet_count'})

df_brand = df_brand[['company_name', 'brand_id', 'username', 'date_joined', 'bio', 'location', 'verified',
                     'verified_type','follower_count','following_count','listed_count','tweet_count']]
df_brand.head()

,company_name,brand_id,username,date_joined,bio,location,verified,verified_type,follower_count,following_count,listed_count,tweet_count
0,Starbucks Coffee,30973,Starbucks,2006-11-29T19:19:02.000Z,Make today a good day. üíö,"Seattle, WA",True,business,11124473,87804,25139,266151
1,Dunkin',8771022,dunkindonuts,2007-09-09T20:21:27.000Z,America runs on Dunkin‚Äô tweets ‚òïÔ∏èüç©,"Canton, Mass.",True,business,1341144,51036,5494,109341
2,Netflix,16573941,netflix,2008-10-03T04:16:17.000Z,I would watch 100 movies where Nia Long & Laur...,"California, USA",True,business,21455052,2256,20953,47848
3,Hulu,15033883,hulu,2008-06-07T00:08:57.000Z,"Hey Sebastian Stan, we're single this #Valenti...",üè†,True,business,1127459,1655,7889,145679
4,Southwest Airlines,7212562,SouthwestAir,2007-07-02T19:56:44.000Z,We run on #SouthwestHeart. Follow for more on ...,"Dallas, Texas",True,business,2170365,0,13936,1100166

In [ ]:
#download the brand dataframe as a .csv file
df_brand.to_csv('Brand.csv', index=False)
files.download('Brand.csv')

## Tweets

#### Starbucks

In [ ]:
# Create an empty Pandas DataFrame
starbucks_tweets = pd.DataFrame()

In [ ]:
#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="Starbucks lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-12T00:00:00-05:00",
    end_time = "2023-03-12T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  #print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    starbucks_tweets = starbucks_tweets.append(temp_df, ignore_index=True)  # append to df_tweets


###############################################
###############################################

#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="Starbucks lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-07T00:00:00-05:00",
    end_time = "2023-03-07T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  # print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    starbucks_tweets = starbucks_tweets.append(temp_df, ignore_index=True)  # append to df_tweets

###############################################
###############################################


#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="Starbucks lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-08T00:00:00-05:00",
    end_time = "2023-03-08T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  #print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    starbucks_tweets = starbucks_tweets.append(temp_df, ignore_index=True)  # append to df_tweets


###############################################
###############################################


#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="Starbucks lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-09T00:00:00-05:00",
    end_time = "2023-03-09T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  #print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    starbucks_tweets = starbucks_tweets.append(temp_df, ignore_index=True)  # append to df_tweets


###############################################
###############################################


#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="Starbucks lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-10T00:00:00-05:00",
    end_time = "2023-03-10T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  #print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    starbucks_tweets = starbucks_tweets.append(temp_df, ignore_index=True)  # append to df_tweets


    ###############################################
###############################################


#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="Starbucks lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-11T00:00:00-05:00",
    end_time = "2023-03-11T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  #print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    starbucks_tweets = starbucks_tweets.append(temp_df, ignore_index=True)  # append to df_tweets




#     ###############################################
# ###############################################


# #search tweets by page limit
# page_search = tweepy.Paginator(
#     method = client.search_recent_tweets,
#     limit=10,
#     query="Starbucks lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
#     expansions = ["author_id"],

#     ###change these dates to required time range###
#     start_time = "2023-02-27T00:00:00-05:00",
#     end_time = "2023-02-27T23:59:59-05:00",
#     ###############################################

#     tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
#     max_results=100  #limits the number of tweets pulled
#     )

# # Iterate through each page of results
# for n,page in enumerate(page_search):

#   # Print the current page number
#   #print("PAGE NUMBER: ",n)

#   # Iterate through each tweet in the page.data, convert to a dataframe, and

#   for tweet in page.data:
#     temp_df = pd.json_normalize(tweet.data, sep="_")
#     starbucks_tweets = starbucks_tweets.append(temp_df, ignore_index=True)  # append to df_tweets

In [ ]:
#drop, rearrange, and rename columns
starbucks_tweets.drop(columns = 'edit_history_tweet_ids')
starbucks_tweets = starbucks_tweets.rename(columns={'id': 'tweet_id', 'author_id': 'user_id', 'created_at': 'date_posted',
                                    'public_metrics_retweet_count': 'retweet_count', 'public_metrics_reply_count': 'reply_count',
                                    'public_metrics_like_count': 'like_count', 'public_metrics_quote_count': 'quotetweet_count',
                                    'public_metrics_impression_count':'impression_count'})

starbucks_tweets = starbucks_tweets[['tweet_id', 'user_id', 'date_posted','retweet_count', 'reply_count', 'like_count', 'quotetweet_count',
                     'impression_count','text']]
starbucks_tweets.head()

,tweet_id,user_id,date_posted,retweet_count,reply_count,like_count,quotetweet_count,impression_count,text
0,1635143549179031557,1470638974964277249,2023-03-13T04:59:36.000Z,0,0,0,0,4,@CalltoActivism @Starbucks Could be Trumps sis...
1,1635143531944873985,1519054874067021831,2023-03-13T04:59:32.000Z,0,0,0,0,21,@CidRising @VVh1sp3r @CalltoActivism @Starbuck...
2,1635143475749613569,1519054874067021831,2023-03-13T04:59:18.000Z,0,1,0,0,28,@VVh1sp3r @CidRising @CalltoActivism @Starbuck...
3,1635143416932872193,80872391,2023-03-13T04:59:04.000Z,0,0,0,0,15,@khatumokeen your people are wandering in the ...
4,1635143391284727809,1599035809763848194,2023-03-13T04:58:58.000Z,0,0,0,0,3,@CalltoActivism @Starbucks I‚Äôm having a hard t...

In [ ]:
starbucks_tweets.shape

(5867, 9)

In [ ]:
#download the user dataframe as a .csv file
starbucks_tweets.to_csv('Starbucks.csv', index=False)
files.download('Starbucks.csv')

### Dunkin'

In [ ]:
# Create an empty Pandas DataFrame
dunkin_tweets = pd.DataFrame()

In [ ]:
#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="(Dunkin OR Dunkin') lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-07T00:00:00-05:00",
    end_time = "2023-03-07T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    dunkin_tweets = dunkin_tweets.append(temp_df, ignore_index=True)  # append to df_tweets


###############################################
###############################################

#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="(Dunkin OR Dunkin') lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-08T00:00:00-05:00",
    end_time = "2023-03-08T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  # print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    dunkin_tweets = dunkin_tweets.append(temp_df, ignore_index=True)  # append to df_tweets

###############################################
###############################################


#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="(Dunkin OR Dunkin') lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-09T00:00:00-05:00",
    end_time = "2023-03-09T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    dunkin_tweets = dunkin_tweets.append(temp_df, ignore_index=True)  # append to df_tweets


###############################################
###############################################


#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="(Dunkin OR Dunkin') lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-10T00:00:00-05:00",
    end_time = "2023-03-10T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    dunkin_tweets = dunkin_tweets.append(temp_df, ignore_index=True)  # append to df_tweets


###############################################
###############################################


#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="(Dunkin OR Dunkin') lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-11T00:00:00-05:00",
    end_time = "2023-03-11T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    dunkin_tweets = dunkin_tweets.append(temp_df, ignore_index=True)  # append to df_tweets


###############################################
###############################################


#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="(Dunkin OR Dunkin') lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-12T00:00:00-05:00",
    end_time = "2023-03-12T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    dunkin_tweets = dunkin_tweets.append(temp_df, ignore_index=True)  # append to df_tweets

In [ ]:
#drop, rearrange, and rename columns
dunkin_tweets.drop(columns = 'edit_history_tweet_ids')
dunkin_tweets = dunkin_tweets.rename(columns={'id': 'tweet_id', 'author_id': 'user_id', 'created_at': 'date_posted',
                                    'public_metrics_retweet_count': 'retweet_count', 'public_metrics_reply_count': 'reply_count',
                                    'public_metrics_like_count': 'like_count', 'public_metrics_quote_count': 'quotetweet_count',
                                    'public_metrics_impression_count':'impression_count'})

dunkin_tweets = dunkin_tweets[['tweet_id', 'user_id', 'date_posted','retweet_count', 'reply_count', 'like_count', 'quotetweet_count',
                     'impression_count','text']]
dunkin_tweets.head()

,tweet_id,user_id,date_posted,retweet_count,reply_count,like_count,quotetweet_count,impression_count,text
0,1633331644621901825,1454673423167369216,2023-03-08T04:59:44.000Z,0,1,5,0,195,People want to love themselves and conquer oth...
1,1633331130312040448,1909828159,2023-03-08T04:57:41.000Z,0,0,0,0,50,I think I‚Äôm back on Dunkin bad üò≠
2,1633330971989667841,147230484,2023-03-08T04:57:04.000Z,0,0,0,0,2,Play the Dunkin' Cart Catch game for chances t...
3,1633330968072425472,1633323380257755138,2023-03-08T04:57:03.000Z,0,0,1,0,70,POV dunkin on the haters üòúüòú https://t.co/rYave...
4,1633330793702477826,3741378973,2023-03-08T04:56:21.000Z,0,0,1,0,67,@kingdee_11 Dunkin lol

In [ ]:
dunkin_tweets.shape

(5869, 9)

In [ ]:
#download the user dataframe as a .csv file
dunkin_tweets.to_csv('Dunkin.csv', index=False)
files.download('Dunkin.csv')

###Netflix

In [ ]:
# Create an empty Pandas DataFrame
netflix_tweets = pd.DataFrame()

In [ ]:
#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="Netflix lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-07T00:00:00-05:00",
    end_time = "2023-03-07T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  #print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    netflix_tweets = netflix_tweets.append(temp_df, ignore_index=True)  # append to df_tweets


###############################################
###############################################

#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="Netflix lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-08T00:00:00-05:00",
    end_time = "2023-03-08T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  # print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    netflix_tweets = netflix_tweets.append(temp_df, ignore_index=True)  # append to df_tweets

###############################################
###############################################


#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="Netflix lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-09T00:00:00-05:00",
    end_time = "2023-03-09T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  #print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    netflix_tweets = netflix_tweets.append(temp_df, ignore_index=True)  # append to df_tweets


###############################################
###############################################


#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="Netflix lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-10T00:00:00-05:00",
    end_time = "2023-03-10T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  #print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    netflix_tweets = netflix_tweets.append(temp_df, ignore_index=True)  # append to df_tweets


###############################################
###############################################


#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="Netflix lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-11T00:00:00-05:00",
    end_time = "2023-03-11T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  #print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    netflix_tweets = netflix_tweets.append(temp_df, ignore_index=True)  # append to df_tweets


###############################################
###############################################


#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="Netflix lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-12T00:00:00-05:00",
    end_time = "2023-03-12T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  #print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    netflix_tweets = netflix_tweets.append(temp_df, ignore_index=True)  # append to df_tweets

In [ ]:
#drop, rearrange, and rename columns
#netflix_tweets.drop(columns = 'edit_history_tweet_ids')
netflix_tweets = netflix_tweets.rename(columns={'id': 'tweet_id', 'author_id': 'user_id', 'created_at': 'date_posted',
                                    'public_metrics_retweet_count': 'retweet_count', 'public_metrics_reply_count': 'reply_count',
                                    'public_metrics_like_count': 'like_count', 'public_metrics_quote_count': 'quotetweet_count',
                                    'public_metrics_impression_count':'impression_count'})

netflix_tweets = netflix_tweets[['tweet_id', 'user_id', 'date_posted','retweet_count', 'reply_count', 'like_count', 'quotetweet_count',
                     'impression_count','text']]
netflix_tweets.head()

,tweet_id,user_id,date_posted,retweet_count,reply_count,like_count,quotetweet_count,impression_count,text
0,1633331695096336387,1570617299501199360,2023-03-08T04:59:56.000Z,0,0,0,0,1,@daisybigwins Sini dm kak aku jual fast\nDi si...
1,1633331688901332993,1486722581990313985,2023-03-08T04:59:55.000Z,0,130,7,20,632,Need Netflix 1 bulan\n#zonaba #zonauang
2,1633331680957329408,1012961249741529088,2023-03-08T04:59:53.000Z,0,0,0,0,1,üìå Available Premium Accounts \n\nüî∏Netflix\nüî∏Sp...
3,1633331679938084864,1413901955928190979,2023-03-08T04:59:52.000Z,0,0,0,0,1,"@piccalaa halooo, @ballerinya jual apk premium..."
4,1633331670744199174,1570617299501199360,2023-03-08T04:59:50.000Z,0,0,0,0,1,@winterrrsun Sini dm kak aku jual fast\nDi sin...

In [ ]:
netflix_tweets.shape

(5923, 9)

In [ ]:
#download the user dataframe as a .csv file
netflix_tweets.to_csv('Netflix.csv', index=False)
files.download('Netflix.csv')

###Hulu

In [ ]:
# Create an empty Pandas DataFrame
hulu_tweets = pd.DataFrame()

In [ ]:
#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="Hulu lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-07T00:00:00-05:00",
    end_time = "2023-03-07T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  #print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    hulu_tweets = hulu_tweets.append(temp_df, ignore_index=True)  # append to df_tweets


###############################################
###############################################

#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="Hulu lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-08T00:00:00-05:00",
    end_time = "2023-03-08T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  # print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    hulu_tweets = hulu_tweets.append(temp_df, ignore_index=True)  # append to df_tweets

###############################################
###############################################


#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="Hulu lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-09T00:00:00-05:00",
    end_time = "2023-03-09T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  #print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    hulu_tweets = hulu_tweets.append(temp_df, ignore_index=True)  # append to df_tweets


###############################################
###############################################


#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="Hulu lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-10T00:00:00-05:00",
    end_time = "2023-03-10T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  #print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    hulu_tweets = hulu_tweets.append(temp_df, ignore_index=True)  # append to df_tweets


###############################################
###############################################


#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="Hulu lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-11T00:00:00-05:00",
    end_time = "2023-03-11T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  #print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    hulu_tweets = hulu_tweets.append(temp_df, ignore_index=True)  # append to df_tweets



###############################################
###############################################


#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="Hulu lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-12T00:00:00-05:00",
    end_time = "2023-03-12T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  #print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    hulu_tweets = hulu_tweets.append(temp_df, ignore_index=True)  # append to df_tweets

In [ ]:
#drop, rearrange, and rename columns
hulu_tweets.drop(columns = 'edit_history_tweet_ids')
hulu_tweets = hulu_tweets.rename(columns={'id': 'tweet_id', 'author_id': 'user_id', 'created_at': 'date_posted',
                                    'public_metrics_retweet_count': 'retweet_count', 'public_metrics_reply_count': 'reply_count',
                                    'public_metrics_like_count': 'like_count', 'public_metrics_quote_count': 'quotetweet_count',
                                    'public_metrics_impression_count':'impression_count'})

hulu_tweets = hulu_tweets[['tweet_id', 'user_id', 'date_posted','retweet_count', 'reply_count', 'like_count', 'quotetweet_count',
                     'impression_count','text']]
hulu_tweets.head()

,tweet_id,user_id,date_posted,retweet_count,reply_count,like_count,quotetweet_count,impression_count,text
0,1633331288903159809,1559930535526354944,2023-03-08T04:58:19.000Z,0,0,0,0,5,@DramaClubFOX @FOXTV @hulu Writers unite?
1,1633331031016128515,16567309,2023-03-08T04:57:18.000Z,0,0,0,1,56,@busybaud Sorry for any upset! We suggest usin...
2,1633330887822548995,1314339641164812288,2023-03-08T04:56:44.000Z,0,1,1,0,106,"Hey, @hulu. Is there a way tone it down with a..."
3,1633330855295832064,935901733,2023-03-08T04:56:36.000Z,0,1,1,0,116,"@wlstleblower Yes, I have ""Hulu with Live TV.""..."
4,1633330682335498240,841510254504370176,2023-03-08T04:55:55.000Z,0,1,0,0,17,@d0yoxngii 5 dollars a month for a bundle that...

In [ ]:
hulu_tweets.shape

(5960, 9)

In [ ]:
#download the user dataframe as a .csv file
hulu_tweets.to_csv('Hulu.csv', index=False)
files.download('Hulu.csv')

###Southwest

In [ ]:
# Create an empty Pandas DataFrame
southwest_tweets = pd.DataFrame()

In [ ]:
#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="Southwest Airline lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-07T00:00:00-05:00",
    end_time = "2023-03-07T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  #print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    southwest_tweets = southwest_tweets.append(temp_df, ignore_index=True)  # append to df_tweets


###############################################
###############################################

#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="Southwest Airline lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-08T00:00:00-05:00",
    end_time = "2023-03-08T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  # print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    southwest_tweets = southwest_tweets.append(temp_df, ignore_index=True)  # append to df_tweets

###############################################
###############################################


#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="Southwest Airline lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-09T00:00:00-05:00",
    end_time = "2023-03-09T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  #print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    southwest_tweets = southwest_tweets.append(temp_df, ignore_index=True)  # append to df_tweets


###############################################
###############################################


#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="Southwest Airline lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-10T00:00:00-05:00",
    end_time = "2023-03-10T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  #print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    southwest_tweets = southwest_tweets.append(temp_df, ignore_index=True)  # append to df_tweets


###############################################
###############################################


#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="Southwest Airline lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-11T00:00:00-05:00",
    end_time = "2023-03-11T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  #print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    southwest_tweets = southwest_tweets.append(temp_df, ignore_index=True)  # append to df_tweets


###############################################
###############################################


#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="Southwest Airline lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-12T00:00:00-05:00",
    end_time = "2023-03-12T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  #print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    southwest_tweets = southwest_tweets.append(temp_df, ignore_index=True)  # append to df_tweets

In [ ]:
#drop, rearrange, and rename columns
southwest_tweets.drop(columns = 'edit_history_tweet_ids')
southwest_tweets = southwest_tweets.rename(columns={'id': 'tweet_id', 'author_id': 'user_id', 'created_at': 'date_posted',
                                    'public_metrics_retweet_count': 'retweet_count', 'public_metrics_reply_count': 'reply_count',
                                    'public_metrics_like_count': 'like_count', 'public_metrics_quote_count': 'quotetweet_count',
                                    'public_metrics_impression_count':'impression_count'})

southwest_tweets = southwest_tweets[['tweet_id', 'user_id', 'date_posted','retweet_count', 'reply_count', 'like_count', 'quotetweet_count',
                     'impression_count','text']]
southwest_tweets.head()

,tweet_id,user_id,date_posted,retweet_count,reply_count,like_count,quotetweet_count,impression_count,text
0,1633298278623203328,1052953940361383937,2023-03-08T02:47:09.000Z,2,3,19,0,3246,Southwest airline from Cuba to Florida https:/...
1,1633288381538140160,1333695925257060352,2023-03-08T02:07:49.000Z,0,0,0,0,68,Fight breaks out on Southwest flight before pa...
2,1633288259890475010,623618282,2023-03-08T02:07:20.000Z,0,0,7,0,276,I can‚Äôt even imagine who the fuck cares about ...
3,1633284622845898754,21681690,2023-03-08T01:52:53.000Z,0,0,3,0,149,@SecretaryPete Most airline mergers are anti-c...
4,1633276893465026561,2429612832,2023-03-08T01:22:10.000Z,0,0,0,0,60,Fight breaks out on Southwest flight before pa...

In [ ]:
southwest_tweets.shape

(287, 9)

In [ ]:
#download the user dataframe as a .csv file
southwest_tweets.to_csv('Southwest.csv', index=False)
files.download('Southwest.csv')

###Delta

In [ ]:
# Create an empty Pandas DataFrame
delta_tweets = pd.DataFrame()

In [ ]:
#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="Delta Airline lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-07T00:00:00-05:00",
    end_time = "2023-03-07T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  #print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    delta_tweets = delta_tweets.append(temp_df, ignore_index=True)  # append to df_tweets


###############################################
###############################################

#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="Delta Airline lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-08T00:00:00-05:00",
    end_time = "2023-03-08T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  # print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    delta_tweets = delta_tweets.append(temp_df, ignore_index=True)  # append to df_tweets

###############################################
###############################################


#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="Delta Airline lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-09T00:00:00-05:00",
    end_time = "2023-03-09T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  #print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    delta_tweets = delta_tweets.append(temp_df, ignore_index=True)  # append to df_tweets


###############################################
###############################################


#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="Delta Airline lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-10T00:00:00-05:00",
    end_time = "2023-03-10T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  #print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    delta_tweets = delta_tweets.append(temp_df, ignore_index=True)  # append to df_tweets


###############################################
###############################################


#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="Delta Airline lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-11T00:00:00-05:00",
    end_time = "2023-03-11T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  #print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    delta_tweets = delta_tweets.append(temp_df, ignore_index=True)  # append to df_tweets


###############################################
###############################################


#search tweets by page limit
page_search = tweepy.Paginator(
    method = client.search_recent_tweets,
    limit=10,
    query="Delta Airline lang:en -is:retweet",   #pulls all tweets that mention Dunkin and are in English, excludes retweets
    expansions = ["author_id"],

    ###change these dates to required time range###
    start_time = "2023-03-12T00:00:00-05:00",
    end_time = "2023-03-12T23:59:59-05:00",
    ###############################################

    tweet_fields = ["created_at", "id","public_metrics", "text"], #information to be store from each tweet
    max_results=100  #limits the number of tweets pulled
    )

# Iterate through each page of results
for n,page in enumerate(page_search):

  # Print the current page number
  #print("PAGE NUMBER: ",n)

  # Iterate through each tweet in the page.data, convert to a dataframe, and

  for tweet in page.data:
    temp_df = pd.json_normalize(tweet.data, sep="_")
    delta_tweets = delta_tweets.append(temp_df, ignore_index=True)  # append to df_tweets

In [ ]:
#drop, rearrange, and rename columns
delta_tweets.drop(columns = 'edit_history_tweet_ids')
delta_tweets = delta_tweets.rename(columns={'id': 'tweet_id', 'author_id': 'user_id', 'created_at': 'date_posted',
                                    'public_metrics_retweet_count': 'retweet_count', 'public_metrics_reply_count': 'reply_count',
                                    'public_metrics_like_count': 'like_count', 'public_metrics_quote_count': 'quotetweet_count',
                                    'public_metrics_impression_count':'impression_count'})

delta_tweets = delta_tweets[['tweet_id', 'user_id', 'date_posted','retweet_count', 'reply_count', 'like_count', 'quotetweet_count',
                     'impression_count','text']]
delta_tweets.head()

,tweet_id,user_id,date_posted,retweet_count,reply_count,like_count,quotetweet_count,impression_count,text
0,1633326641286897665,183109386,2023-03-08T04:39:51.000Z,0,0,0,0,74,THIS SINGLE FLIGHT WITH DELTA HAS RESTORED MY ...
1,1633324081045962753,1537969682807783425,2023-03-08T04:29:41.000Z,0,1,0,0,44,@victoriaaatx I have Amazon rn ü´†ü´† but I want i...
2,1633317632114937856,1620470009582551041,2023-03-08T04:04:03.000Z,0,2,0,0,8,Gabe Horn Esq.\n@gabehornesquire\n¬∑\n5m\nReply...
3,1633315971401228290,968713339751817217,2023-03-08T03:57:27.000Z,0,1,0,1,28,@ACEXLMOM @NickAdamsinUSA I will not take this...
4,1633292326419193856,59690099,2023-03-08T02:23:30.000Z,0,0,2,0,125,Delta the best airline but I‚Äôm flying whatever...

In [ ]:
delta_tweets.shape

(413, 9)

In [ ]:
#download the user dataframe as a .csv file
delta_tweets.to_csv('Delta.csv', index=False)
files.download('Delta.csv')

##User

In [ ]:
user = pd.read_csv('/content/Users_Week5.csv')
user = user['user_id']

In [ ]:
user.shape

(13621,)

In [ ]:
user_list = []

In [ ]:
range(len(user))

range(0, 13621)

In [ ]:
# collect data of the users
for i in range(11370, len(user)):
  users = client.get_user(id = user.iloc[i],
                          user_fields = ["created_at", "description", "id", "location", "name", "public_metrics", "username", "verified", "verified_type"])
  if users.data != None:
    user_list.append(users.data.data)

df_user = pd.json_normalize(user_list, sep="_" )

df_user = df_user.rename(columns={'created_at': 'date_joined', 'description': 'bio', 'id': 'user_id',
                                    'public_metrics_followers_count': 'follower_count', 'public_metrics_following_count': 'following_count',
                                    'public_metrics_listed_count': 'listed_count', 'public_metrics_tweet_count': 'tweet_count'})

df_user = df_user[['name', 'user_id', 'username', 'date_joined', 'bio', 'location', 'verified',
                     'verified_type','follower_count','following_count','listed_count','tweet_count']]
df_user.to_csv('Users.csv', index=False)
files.download('Users.csv')

WARNING:tweepy.client:Rate limit exceeded. Sleeping for 748 seconds.
WARNING:tweepy.client:Rate limit exceeded. Sleeping for 886 seconds.
WARNING:tweepy.client:Rate limit exceeded. Sleeping for 888 seconds.
WARNING:tweepy.client:Rate limit exceeded. Sleeping for 889 seconds.
WARNING:tweepy.client:Rate limit exceeded. Sleeping for 885 seconds.
WARNING:tweepy.client:Rate limit exceeded. Sleeping for 887 seconds.
WARNING:tweepy.client:Rate limit exceeded. Sleeping for 886 seconds.
WARNING:tweepy.client:Rate limit exceeded. Sleeping for 888 seconds.

In [ ]:
df_user = pd.json_normalize(user_list, sep="_" )
df_user.head()

In [ ]:
df_user.shape

(11379, 12)

In [ ]:
#rearrange and rename columns
df_user = df_user.rename(columns={'created_at': 'date_joined', 'description': 'bio', 'id': 'user_id',
                                    'public_metrics_followers_count': 'follower_count', 'public_metrics_following_count': 'following_count',
                                    'public_metrics_listed_count': 'listed_count', 'public_metrics_tweet_count': 'tweet_count'})

df_user = df_user[['name', 'user_id', 'username', 'date_joined', 'bio', 'location', 'verified',
                     'verified_type','follower_count','following_count','listed_count','tweet_count']]
df_user.head()

In [ ]:
#download the user dataframe as a .csv file
df_user.to_csv('Users.csv', index=False)
files.download('Users.csv')

##UsersNotCollected

In [ ]:
users_to_collect = pd.read_csv('/content/UsersNotCollectedWeek5.csv')

In [ ]:
users_to_collect.shape

(11, 1)

In [ ]:
user_list = []

In [ ]:
# collect data of the users
for i in range(len(users_to_collect)):
  users = client.get_user(id = users_to_collect.iloc[i,0],
                          user_fields = ["created_at", "description", "id", "location",
                                         "name", "public_metrics", "username", "verified", "verified_type"])
  if users.data != None:
    user_list.append(users.data.data)

df_user = pd.json_normalize(user_list, sep="_" )
df_user.head()

#rearrange and rename columns
df_user = df_user.rename(columns={'created_at': 'date_joined', 'description': 'bio', 'id': 'user_id',
                                    'public_metrics_followers_count': 'follower_count', 'public_metrics_following_count': 'following_count',
                                    'public_metrics_listed_count': 'listed_count', 'public_metrics_tweet_count': 'tweet_count'})

df_user = df_user[['name', 'user_id', 'username', 'date_joined', 'bio', 'location', 'verified',
                     'verified_type','follower_count','following_count','listed_count','tweet_count']]
df_user.head()

,name,user_id,username,date_joined,bio,location,verified,verified_type,follower_count,following_count,listed_count,tweet_count
0,Yano YuukiüíÄ‡æÄ‡Ω≤ùô∞ùöõùöé ùöàùöòùöû ùô≥ùöéùöäùöç ùöàùöéùöù?üíô‡æÄ‡Ω≤,1473630144258789387,ocsidlive1101,2021-12-22T12:23:11.000Z,"üíé @skilletmusic üé§ nu metal, melodic death meta...",„Åß„ÅÉ„Åô„Åì„Éú„Éº„É´,False,none,2263,5002,11,123013

In [ ]:
df_user.shape

(1, 12)

In [ ]:
#download the user dataframe as a .csv file
df_user.to_csv('Users_Not_Collected_Week4.csv', index=False)
files.download('Users_Not_Collected_Week4.csv')